#header-main {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .table-item::before {
        content: attr(data-label);
        font-weight: bold;
    }
}