.anime-list {
    display: flex;
    flex-wrap: wrap;
}

#header-main {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
}

.empty-block {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.empty-block p {
    font-size: 36px;
}