.genre-wrapper {
    min-height: 100vh;
}

.genre-container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
  text-align: center;
  font-size: 32px;
}

a.genre-btn {
  border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    min-width: 200px;
    padding: 10px 20px;
    background-color: #f86d02d2;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  a.genre-btn:hover {
    background-color: #ff5722;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(255, 69, 0, 0.6);
  }