<div class="wrapper">
    <div class="logo">
        <a routerLink="/">
            <h1>Anime Galaxy</h1>
        </a>
    </div>
    <nav class="navbar" id="navbar">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/anime">Anime List</a></li>
            <li><a routerLink="/genre">Genres</a></li>
            <!-- <ng-container *ngIf="true"> -->
                <li><a routerLink="/user/login">Login</a></li>
                <li><a routerLink="/user/register">Register</a></li>
            <!-- </ng-container> -->
        </ul>
    </nav>
    <div class="socials">
        <a href="https://github.com/KonImperator" target="_blank"><img src="/assets/github-logo.png" alt="Github"></a>
        <a href="https://asura.gg/" target="_blank"><img src="/assets/reaper-logo.png" alt="Reaper Scans"></a>
        <a href="https://9anime.to/home" target="_blank"><img src="/assets/9anime-logo.png" alt="9Anime"></a>
    </div>
</div>
<app-search></app-search>