.footer {
  position: relative;
  display: grid;
  /* grid-template-columns: 0.5fr 1fr 0.5fr; */
  align-items: center;
  justify-items: center;
  padding: 0.5rem 0rem;
}

.footer p {
  grid-column: 2;  /* Place the text in the middle column */
  margin: 0;
  justify-self: end;
  font-weight: bold;
}

.socials {
  grid-column: 3;  /* Place the social icons in the right column */
  display: flex;
  justify-self: end; /* Align icons to the right of the grid cell */
  padding-bottom: 0.5rem;
}

.socials img {
  margin-right: 20px;
  height: 32px;
}
@media (prefers-color-scheme: light) {

  .socials {
    border-radius: 50px;
    background-color: rgba(187, 49, 49, 0.5);
    padding: 5px;
  }
}

@media screen and (max-width: 768px) {
 .footer.primary {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
 }
  
}