<footer class="footer-wrapper">
    <small class="footer primary">
        <p>&copy; 2023 Anime Galaxy. All rights reserved.</p>
        <div class="socials">
            <a href="https://github.com/KonImperator" target="_blank"><img src="/assets/github-logo.png"
                    alt="Github"></a>
            <a href="https://asura.gg/" target="_blank"><img src="/assets/reaper-logo.png"
                    alt="Reaper Scans"></a>
            <a href="https://aniwave.to/home" target="_blank"><img src="/assets/logo-aniwave.png"
                    alt="9Anime"></a>
        </div>
    </small>
</footer>
