<div class="mt-5 flex items-center justify-center">
    <form (submit)="findAnime(search.value); $event.preventDefault()" class="search flex mx-auto mb-5">
        <input #search type="text" name="search" id="search" placeholder="Search Anime" 
            class="w-full p-2 dark:bg-gray-800 bg-red-100 text-black dark:text-white focus:outline-none border-0 text-white rounded-l-lg">
        <button type="submit" class="p-2 dark:bg-primary-dark bg-primary-light rounded-r-lg">
            <img class="mt-1 h-4" src="assets/search.svg" alt="Search Icon">
        </button>
    </form>
</div>
