.genre-wrapper {
    background: #1e1e2f;
    height: 80vh;
}

a {
    margin: 0 15px 15px 0;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4500;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Add text shadow for a dramatic effect */
    border-radius: 50px;
  }
  
  a:hover {
    background-color: #ff5722;
    transform: scale(1.05); /* Slightly scale up the button on hover */
    box-shadow: 0px 0px 10px rgba(255, 69, 0, 0.6); /* Add a glowing effect on hover */
  }