.anime-card {
    display: flex;
    font-size: 13px;
    align-items: flex-start;
    padding: 20px;
}

.anime-card-image {
    margin-right: 20px;
    flex: 0 1 300px;
    object-fit: contain;
}

.anime-card-title {
    margin-bottom: 10px;
    font-weight: bold;
}

.anime-card-detail {
    margin-bottom: 5px;
}

.anime-card-details {
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.anime-card-synopsis {
    font-style: italic;
}

.buttons {
    margin: 10px 0;
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .anime-card {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .anime-card-details {
        flex-direction: column-reverse;
    }
}