<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-group w-9/12 ml-16 mt-7">
    <div class="text-center mr-20 text-3xl">
        <h2 class="">Change Password</h2>
    </div>
    
    <div class="form-field flex flex-row items-center">
        <label class="w-3/12">
            Current Password
        </label>
        <input type="password" name="currPass" id="currPass" formControlName="currPass"
            placeholder="Enter current password" 
            [ngClass]="{'input-error': form.get('currPass')?.touched && form.get('currPass')?.invalid}" 
            class="input input-flex-grow w-5/12 input-ghost-primary" />
        <ng-container *ngIf="form.get('currPass')?.invalid && form.get('currPass')?.touched">
            <span class="form-label-alt text-error">Field is required</span>
        </ng-container>
    </div>
    <ng-container formGroupName="passwords">
        <div class="form-field flex flex-row items-center">
            <label class="w-3/12">
                New Password
            </label>
            <input type="password" name="password" id="password" formControlName="password"
                placeholder="Enter new password" 
                [ngClass]="{'input-error': form.get('passwords')?.get('password')?.touched && form.get('passwords')?.get('password')?.invalid}" 
                class="input input-flex-grow w-5/12 input-ghost-primary" />
            <ng-container *ngIf="form.get('passwords')?.get('password')?.touched">
                <span *ngIf="form.get('passwords')?.get('password')?.errors?.required" class="form-label-alt text-error">Field is required</span>
                <span *ngIf="form.get('passwords')?.get('password')?.errors?.pattern" class="form-label-alt text-error">Number, lowercase and uppercase letter required</span>
            </ng-container>
        </div>
        <div class="form-field flex flex-row items-center">
            <label class="w-3/12">
                Repeat New Password
            </label>
            <input type="password" name="rePass" id="rePass" formControlName="rePass"
                placeholder="Enter new password again" 
                [ngClass]="{'input-error': form.get('passwords')?.get('rePass')?.touched && form.get('passwords')?.get('rePass')?.invalid}" 
                class="input input-flex-grow w-5/12 input-ghost-primary" />
            <ng-container *ngIf="form.get('passwords')?.get('rePass')?.touched">
                <span *ngIf="form.get('passwords')?.get('rePass')?.errors?.required" class="form-label-alt text-error">Field is required.</span>
                <span *ngIf="form.get('passwords')?.errors?.passwordInvalid" class="form-label-alt text-error">Passwords do not match.</span>
            </ng-container>
        </div>
    </ng-container>
    
    <div class="form-field pt-5">
        <div class="form-control flex justify-center">
            <button [disabled]="form.invalid" class="btn btn-primary w-2/12 mr-16 min-w-min">
                Save
            </button>
        </div>
    </div>
</form>
