<div *ngIf="anime" class="anime-card">
    <div class="image-wrapper">
        <img class="anime-card-image" [src]="anime.images?.webp?.large_image_url" alt="Anime title">
        <a routerLink="/anime/{{anime.mal_id}}/{{ anime.title | encodeUri }}" class="btn btn-primary btn-details">Details</a>
    </div>
      <div class="anime-card-details">
        <h2 class="anime-card-title">Anime Title: {{anime.title}}</h2>
        <p class="anime-card-detail"><span class="font-bold">Episodes: </span>{{anime.episodes ? anime.episodes : 'N/A'}}</p>
        <p class="anime-card-detail"><span class="font-bold">Date Aired: </span><time>{{anime.aired?.string ? anime.aired?.string : 'N/A'}}</time></p>
        <p class="anime-card-synopsis"><span class="font-bold">Summary:</span> {{anime.synopsis ? (anime.synopsis | slice:0:80) : 'N/A'}}...</p>
        <p class="anime-card-detail"><span class="font-bold">Score:</span> {{anime.score ? anime.score : 'N/A'}}</p>
        <p class="anime-card-detail"><span class="font-bold">Viewers:</span> {{anime.members ? anime.members : 'N/A'}}</p>
        <p class="anime-card-detail"><span class="font-bold">Studio:</span> {{anime.studios?.[0]?.name ? anime.studios?.[0]?.name : 'N/A'}}</p>
        <p class="anime-card-detail"><span class="font-bold">Source:</span> {{anime.source ? anime.source : 'N/A'}} </p>
        <p class="anime-card-detail"><span class="font-bold">Genre:</span> {{anime.genres ? anime.genres : 'N/A'}}</p>
    </div>
</div>