<div class="wrapper mx-auto flex w-full max-w-sm flex-col gap-6 h-full mt-14">
    <div class="flex flex-col items-center">
        <h1 class="text-3xl font-semibold">Register</h1>
        <p class="text-sm">Create a new account</p>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-group">
        <div class="form-field">
            <label class="form-label"
                [ngClass]="{'text-error': form.get('email')?.touched && form.get('email')?.errors}">
                Email address
            </label>
            <input type="text" name="email" id="email" formControlName="email" placeholder="Enter your email" class="input max-w-full input-ghost-primary"
                [ngClass]="{'input-error': form.get('email')?.touched && form.get('email')?.errors}"/>
            <ng-container *ngIf="form.get('email')?.touched">
                <span *ngIf="form.get('email')?.errors?.['required']" class="form-label-alt text-error">Email is
                    required.</span>
                <span *ngIf="form.get('email')?.errors?.['email']" class="form-label-alt text-error">Email is invalid.</span>
            </ng-container>
        </div>
        <div class="form-field">
            <label class="form-label"
                [ngClass]="{'text-error': form.get('username')?.touched && form.get('username')?.errors }">
                Username
            </label>
            <input type="text" name="username" id="username" formControlName="username" placeholder="Enter your username" class="input max-w-full input-ghost-primary"
                [ngClass]="{'input-error': form.get('username')?.touched && form.get('username')?.errors}"/>
            <ng-container *ngIf="form.get('username')?.touched">
                <span *ngIf="form.get('username')?.errors?.['required']" class="form-label-alt text-error">Username is required.</span>
                <span *ngIf="form.get('username')?.errors?.['minlength']" class="form-label-alt text-error">Username must be at least 
                    {{form.get('username')?.errors?.['minlength'].requiredLength}} characters long</span>
            </ng-container>
        </div>
        <ng-container formGroupName="passwords">
            <div class="form-field">
                <label class="form-label"
                    [ngClass]="{'text-error': form.get('passwords')?.get('password')?.touched && form.get('passwords')?.get('password')?.errors}">
                    Password
                </label>
                <input type="password" name="password" id="password" formControlName="password"
                    placeholder="Enter your password" class="input max-w-full input-ghost-primary"
                    [ngClass]="{'input-error': form.get('passwords')?.get('password')?.touched && form.get('passwords')?.get('password')?.errors}"/>
                <ng-container *ngIf="form.get('passwords')?.get('password')?.touched">
                    <span *ngIf="form.get('passwords')?.get('password')?.errors?.['required']" class="form-label-alt text-error">Password is required.</span>
                    <span *ngIf="form.get('passwords')?.get('password')?.errors?.['pattern']" class="form-label-alt text-error">Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</span>
                </ng-container>
            </div>
            <div class="form-field">
                <label class="form-label"
                    [ngClass]="{'text-error': form.get('passwords')?.get('rePass')?.touched && (form.get('passwords')?.get('rePass')?.errors || form.get('passwords')?.errors)}">
                    Repeat Password
                </label>
                <input type="password" name="rePass" id="rePass" formControlName="rePass"
                    placeholder="Repeat your password" class="input max-w-full input-ghost-primary"
                    [ngClass]="{'input-error': form.get('passwords')?.get('rePass')?.touched && (form.get('passwords')?.get('rePass')?.errors || form.get('passwords')?.errors)}"/>
                <ng-container *ngIf="form.get('passwords')?.get('rePass')?.touched">
                    <span *ngIf="form.get('passwords')?.get('rePass')?.errors?.['required']" class="form-label-alt text-error">Repeat password is required.</span>
                    <span *ngIf="form.get('passwords')?.errors?.['passwordInvalid']" class="form-label-alt text-error">Passwords must match.</span>
                </ng-container>
            </div>
        </ng-container>
        <span *ngIf="error" class="form-label-alt text-error">{{error}}</span>
        <div class="form-field pt-5">
            <div class="form-control justify-between">
                <button [disabled]="form.invalid || isLoading" type="submit" class="btn btn-primary w-full" [ngClass]="{'btn-loading': isLoading}">Register</button>
            </div>
        </div>
        <div class="form-field">
            <div class="form-control justify-center">
                <a routerLink="/user/login" class="link link-primary link-ghost-primary text-sm">Already have an account? Sign in.</a>
            </div>
        </div>
    </form>
</div>