<div class="flex flex-col items-start">
    <div *ngIf="error" class="alert alert-error max-w-xl ml-16">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M24 4C12.96 4 4 12.96 4 24C4 35.04 12.96 44 24 44C35.04 44 44 35.04 44 24C44 12.96 35.04 4 24 4ZM24 26C22.9 26 22 25.1 22 24V16C22 14.9 22.9 14 24 14C25.1 14 26 14.9 26 16V24C26 25.1 25.1 26 24 26ZM26 34H22V30H26V34Z" fill="#E92C2C" />
        </svg>
        <div class="flex w-full justify-between">
            <div class="flex flex-col">
                <span>Error</span>
                <span class="text-content2">{{error}}</span>
            </div>
            <svg class="cursor-pointer" (click)="hideMessage()"  width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.3007 5.71C17.9107 5.32 17.2807 5.32 16.8907 5.71L12.0007 10.59L7.1107 5.7C6.7207 5.31 6.0907 5.31 5.7007 5.7C5.3107 6.09 5.3107 6.72 5.7007 7.11L10.5907 12L5.7007 16.89C5.3107 17.28 5.3107 17.91 5.7007 18.3C6.0907 18.69 6.7207 18.69 7.1107 18.3L12.0007 13.41L16.8907 18.3C17.2807 18.69 17.9107 18.69 18.3007 18.3C18.6907 17.91 18.6907 17.28 18.3007 16.89L13.4107 12L18.3007 7.11C18.6807 6.73 18.6807 6.09 18.3007 5.71Z" fill="#969696" />
            </svg>
        </div>
    </div>
    <div *ngIf="success" class="alert alert-success max-w-xl ml-16">
        <svg (click)="hideMessage()" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M24 4C12.96 4 4 12.96 4 24C4 35.04 12.96 44 24 44C35.04 44 44 35.04 44 24C44 12.96 35.04 4 24 4ZM18.58 32.58L11.4 25.4C10.62 24.62 10.62 23.36 11.4 22.58C12.18 21.8 13.44 21.8 14.22 22.58L20 28.34L33.76 14.58C34.54 13.8 35.8 13.8 36.58 14.58C37.36 15.36 37.36 16.62 36.58 17.4L21.4 32.58C20.64 33.36 19.36 33.36 18.58 32.58Z" fill="#00BA34" />
        </svg>
        <div class="flex w-full justify-between">
        <div class="flex flex-col">
            <span>Success</span>
            <span class="text-content2">{{success}}</span>
        </div>
        <svg class="cursor-pointer" (click)="hideMessage()"  width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.3007 5.71C17.9107 5.32 17.2807 5.32 16.8907 5.71L12.0007 10.59L7.1107 5.7C6.7207 5.31 6.0907 5.31 5.7007 5.7C5.3107 6.09 5.3107 6.72 5.7007 7.11L10.5907 12L5.7007 16.89C5.3107 17.28 5.3107 17.91 5.7007 18.3C6.0907 18.69 6.7207 18.69 7.1107 18.3L12.0007 13.41L16.8907 18.3C17.2807 18.69 17.9107 18.69 18.3007 18.3C18.6907 17.91 18.6907 17.28 18.3007 16.89L13.4107 12L18.3007 7.11C18.6807 6.73 18.6807 6.09 18.3007 5.71Z" fill="#969696" />
        </svg>
        </div>
    </div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-group w-9/12 ml-16 mt-7">
    <div class="text-center mr-20 text-3xl">
        <h2 class="">Change Password</h2>
    </div>
    
    <div class="form-field flex flex-row items-center">
        <label class="w-3/12" [ngClass]="{'text-error': form.get('currPass')?.touched && form.get('currPass')?.invalid}">
            Current Password
        </label>
        <input type="password" name="currPass" id="currPass" formControlName="currPass"
            placeholder="Enter current password" 
            [ngClass]="{'input-error': form.get('currPass')?.touched && form.get('currPass')?.invalid}" 
            class="input input-flex-grow w-5/12 input-ghost-primary" />
        <ng-container *ngIf="form.get('currPass')?.invalid && form.get('currPass')?.touched">
            <span class="form-label-alt text-error">Field is required</span>
        </ng-container>
    </div>
        <div class="form-field flex flex-row items-center">
            <label class="w-3/12" [ngClass]="{'text-error': form.get('password')?.touched && (form.get('password')?.invalid || form.errors?.passwordsEqual)}">
                New Password
            </label>
            <input type="password" name="password" id="password" formControlName="password"
                placeholder="Enter new password" 
                [ngClass]="{'input-error': form.get('password')?.touched && (form.get('password')?.invalid || form.errors?.passwordsEqual)}" 
                class="input input-flex-grow w-5/12 input-ghost-primary" />
            <ng-container *ngIf="form.get('password')?.touched">
                <span *ngIf="form.get('password')?.errors?.required" class="form-label-alt text-error">Field is required</span>
                <span *ngIf="form.get('password')?.errors?.pattern" class="form-label-alt text-error">Number, lowercase and uppercase letter required</span>
                <span *ngIf="form.errors?.passwordsEqual" class="form-label-alt text-error">New and old password can't be the same</span>
            </ng-container>
        </div>
        <div class="form-field flex flex-row items-center">
            <label class="w-3/12" [ngClass]="{'input-error': form.get('rePass')?.touched && (form.get('rePass')?.invalid || form.errors?.passwordsDifferent)}">
                Repeat New Password
            </label>
            <input type="password" name="rePass" id="rePass" formControlName="rePass"
                placeholder="Enter new password again" 
                [ngClass]="{'input-error': form.get('rePass')?.touched && (form.errors?.passwordsDifferent || form.get('rePass')?.invalid)}" 
                class="input input-flex-grow w-5/12 input-ghost-primary" />
            <ng-container *ngIf="form.get('rePass')?.touched">
                <span *ngIf="form.get('rePass')?.errors?.required" class="form-label-alt text-error">Field is required.</span>
                <span *ngIf="form.errors?.passwordsDifferent" class="form-label-alt text-error">Passwords don't match.</span>
            </ng-container>
        </div>
    <div class="form-field pt-5">
        <div class="form-control flex justify-center">
            <button [disabled]="form.invalid || isLoading || error" [ngClass]="{'btn-loading': isLoading}" class="btn btn-primary w-2/12 mr-16 min-w-min">
                Save
            </button>
        </div>
    </div>
</form>
</div>