.anime-card {
    display: flex;
    font-size: 13px;
    margin: 20px;
    padding: 20px;
    height: 79vh;
}

.anime-card-image {
    margin-right: 20px;
    min-width: 25%;
    max-width: 25%
}

.anime-card-title {
    margin-bottom: 10px;
    font-weight: bold;
}

.anime-card-detail {
    margin-bottom: 5px;
}

.anime-card-synopsis {
    font-style: italic;
}